.navBar {
    background-color: #C2DEE9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
    position: relative;

}

.navBarContainer {
    margin: 0 auto 0 auto;
    max-width: 1300px;
    height: 75px;
    display: flex;
    font-size: 15pt;


}

.loginProfileImage {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin: 8px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.link, .linkLeft {
    display: flex;
    align-items: center;
    height: 100%;

    font-family: "Century Gothic";

    padding-left: 15px;
    padding-right: 15px;

    transition: 0.15s;
}

.link a:link {
    color: black;
}

.link a:visited {
    color: black;
}

.link a:hover {
    color: black;
    text-decoration: none;
}

.linkLeft a:link {
    color: black;
}

.linkLeft a:visited {
    color: black;
}

.linkLeft a:hover {
    color: black;
    text-decoration: none;
}


.link:hover {
    border-bottom: 2px solid black;
}

.linkLeft:hover {
    border-bottom: 2px solid black;
}

.linkLeft {
    border-left: none;
    font-weight: bold;
}


.linkBlock {
    margin-right: 0px;
    margin-left: auto;
    display: flex;;
}

